## Part I : Unzip tripdata data(201801 to 201812) and concat them into one csv file

In [4]:
# Independencies
import pandas as pd
import zipfile
import glob

In [5]:
# Get the file names of all zip files by glob.glob
filelist=[filename for filename in glob.glob('Data/rawdata/2018tripdata/*.zip')]
filelist

['Data/rawdata/2018tripdata\\JC-201801-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201802-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201803-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201804-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201805-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201806-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201807-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201808-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201809-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201810-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201811-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201812-citibike-tripdata.csv.zip']

In [6]:
# Unzip all the files 
for filename in filelist:
    with zipfile.ZipFile("Data/rawdata/2018tripdata/"+ f'{filename}'[26:], 'r') as myzip:
        myzip.extractall("Data/rawdata/2018tripdata")

In [7]:
# Concat the twelve files into one csv file 
tripdata_2018 = pd.concat([pd.read_csv(file) for file in glob.glob('Data/rawdata/2018tripdata/*.csv')], ignore_index = True)

In [8]:
tripdata_2018.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
353887,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [9]:
# Add age column
tripdata_2018["Age"]= 2018 -tripdata_2018["birth year"]

In [10]:
tripdata_2018[tripdata_2018["Age"]>80]['Age'].value_counts()

130    111
87      63
131     15
118      4
Name: Age, dtype: int64

There are 130 riders' age greater than 100, 63 riders' age greater than 87. The infomation might be not be trustworthy,we will filter these data while analyzing.

In [11]:
tripdata_2018.to_csv("Data/cleandata/tripdata_2018.csv",index=False)

## Part II : Concat City Bike Membership Data 2018 Q1-Q4 into one csv file

In [12]:
membership_2018 = pd.concat([pd.read_csv(f) for f in glob.glob('Data/rawdata/2018membershipdata/*.csv')], ignore_index = True)
membership_2018.to_csv("Data/cleandata/membership_2018.csv",index=False)

In [13]:
membership_2018.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0

In [14]:
membership_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
Date                                                  365 non-null object
Trips over the past 24-hours (midnight to 11:59pm)    365 non-null int64
Miles traveled today (midnight to 11:59 pm)           365 non-null int64
Total Annual Members (All Time)                       365 non-null int64
24-Hour Passes Purchased (midnight to 11:59 pm)       365 non-null int64
3-Day Passes Purchased (midnight to 11:59 pm)         365 non-null int64
dtypes: int64(5), object(1)
memory usage: 17.2+ KB