## Part I : Unzip tripdata data(201801 to 201812) and concat them into one csv file

In [255]:
# Independencies
import pandas as pd
import zipfile
import glob

In [256]:
# Get the file names of all zip files by glob.glob
filelist=[filename for filename in glob.glob('Data/rawdata/2018tripdata/*.zip')]
filelist

['Data/rawdata/2018tripdata\\JC-201801-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201802-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201803-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201804-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201805-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201806-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201807-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201808-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201809-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201810-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201811-citibike-tripdata.csv.zip',
 'Data/rawdata/2018tripdata\\JC-201812-citibike-tripdata.csv.zip']

In [257]:
# Unzip all the files 
for filename in filelist:
    with zipfile.ZipFile("Data/rawdata/2018tripdata/"+ f'{filename}'[26:], 'r') as myzip:
        myzip.extractall("Data/rawdata/2018tripdata")

In [258]:
# Concat the twelve files into one csv file 
tripdata_2018 = pd.concat([pd.read_csv(file) for file in glob.glob('Data/rawdata/2018tripdata/*.csv')], ignore_index = True)

In [266]:
tripdata_2018.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
353887,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [267]:
# Add age column
tripdata_2018["Age"]= 2018 -tripdata_2018["birth year"]

In [289]:
tripdata_2018[tripdata_2018["Age"]>80]['Age'].value_counts()

130    111
87      63
131     15
118      4
Name: Age, dtype: int64

There are 130 riders' age greater than 100, 63 riders' age greater than 87. The infomation might be not be trustworthy,we will filter these data while analyzing.

In [268]:
tripdata_2018.to_csv("Data/cleandata/tripdata_2018.csv",index=False)

## Part II : Store the data about start stations and end stations in a seperate files

In [273]:
# Create a dataframe to store start station infomation
Loglat_df= tripdata_2018[['start station id','starttime',"start station name",'start station latitude',"start station longitude"]]
Loglat_df=Loglat_df.rename(columns={'start station id':"station id",'starttime':"time","start station name":"Station Name",'start station latitude':"Station Lat","start station longitude":"Station lon"})
Loglat_df['Note']="Start Station"
Loglat_df.head()

,station id,time,Station Name,Station Lat,Station lon,Note
0,3183,2018-01-01 02:06:17.5410,Exchange Place,40.716247,-74.033459,Start Station
1,3183,2018-01-01 12:06:18.0390,Exchange Place,40.716247,-74.033459,Start Station
2,3183,2018-01-01 12:06:56.9780,Exchange Place,40.716247,-74.033459,Start Station
3,3183,2018-01-01 14:53:10.1860,Exchange Place,40.716247,-74.033459,Start Station
4,3183,2018-01-01 17:34:30.1920,Exchange Place,40.716247,-74.033459,Start Station

In [274]:
len(Loglat_df)

353892

In [276]:
# Contitue to store end station infomation
Loglat_df2= tripdata_2018[['end station id','stoptime',"end station name",'end station latitude',"end station longitude"]]
Loglat_df2=Loglat_df2.rename(columns={'end station id':"station id",'stoptime':"time","end station name":"Station Name",'end station latitude':"Station Lat","end station longitude":"Station lon"})
Loglat_df2['Note']="End Station"
Loglat_df2.head()

,station id,time,Station Name,Station Lat,Station lon,Note
0,3199,2018-01-01 02:21:50.0270,Newport Pkwy,40.728745,-74.032108,End Station
1,3199,2018-01-01 12:15:28.4430,Newport Pkwy,40.728745,-74.032108,End Station
2,3199,2018-01-01 12:15:27.8100,Newport Pkwy,40.728745,-74.032108,End Station
3,3267,2018-01-01 14:59:05.0960,Morris Canal,40.712419,-74.038526,End Station
4,3639,2018-01-01 17:38:40.9840,Harborside,40.719252,-74.034234,End Station

In [277]:
Loglat_df2.shape

(353892, 6)

In [278]:
Loglat_df = Loglat_df.append(Loglat_df2,ignore_index=True)

In [279]:
Loglat_df.shape

(707784, 6)

In [280]:
Loglat_df.to_csv("Data/cleandata/Long_lat.csv",index=False)

## Part III : Concat City Bike Membership Data 2018 Q1-Q4 into one csv file

In [281]:
membership_2018 = pd.concat([pd.read_csv(f) for f in glob.glob('Data/rawdata/2018membershipdata/*.csv')], ignore_index = True)
membership_2018.to_csv("Data/cleandata/membership_2018.csv",index=False)

In [282]:
membership_2018.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0

In [283]:
membership_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
Date                                                  365 non-null object
Trips over the past 24-hours (midnight to 11:59pm)    365 non-null int64
Miles traveled today (midnight to 11:59 pm)           365 non-null int64
Total Annual Members (All Time)                       365 non-null int64
24-Hour Passes Purchased (midnight to 11:59 pm)       365 non-null int64
3-Day Passes Purchased (midnight to 11:59 pm)         365 non-null int64
dtypes: int64(5), object(1)
memory usage: 17.2+ KB